.displayAreaCmp {
    position: relative;
    height: 40%;
    background-color: rgb(223, 213, 213);
    top: -17px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
}
.content {
    position: relative;
    padding: 30px;
    height: 40%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textStyle {
    position: relative;
    width: 100%;
    float: left;
    height: 50px;
    line-height: 10px;
}
.downloadButton {
    position: relative;
    height: 30px;
    left : 400px;
    top:0px;
    margin-bottom: 30px;
    background-color: greenyellow;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}