.docList {
position: absolute;
width:489px;
left: 0;
top:85px;
max-height: 93%;
overflow: hidden;
border-radius: 20px;
}
.Searchdoc{

    height: 65px;
    left: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: "Poppins-Regular";
    color: black;
    font-size: 30px;
    border: 2px solid black;
    outline: 0;
    border-width: 0 0 2px;
    background-color: whitesmoke;
    opacity: 0.8;
   }
   .list-group{
    padding-left: 100px;
    max-height: 100%;
    overflow:scroll;
    overflow-x: hidden;
}
.rounded {
    border-radius: 20px;
}
.list-group-item {
    
    min-height: 75px;
    font-family: "Poppins-Regular";
    padding-left: 30px; 
}
.active  {

    background-color: grey !important;
  
  }